@(form:Form[ModuleForm],listType:List[reactivemongo.bson.BSONDocument],types:String)(implicit request: Request[AnyContent])

@import models.template.InlineInput.inlineInput

@main(Messages("inventary.module.title")){
  @navigation("inventary")
  <div class="container">
    @inventary("module")
    <section>
      @module.stateForm("infoModule")
      <article>
        @helper.form(action=routes.ModuleManager.addInformation()){
          @for(error<-form.globalErrors){
            <div class="alert alert-danger" role="alert">@error.message</div>
          }
          <h5 style="color:red;float:right"><em>*</em> @Messages("global.fieldRequired")</h5>
          <div class="col-sm-12">
            @helper.input(form("types"),'_label->Messages("inventary.module.types"),'required->true){ (id, name, value, args) =>
              @if(types.equals("update")){
              <div class="input-group">
                <input id="@id" name="@name" class="form-control" list="list_type" readonly="readonly" type="text" autocomplete="off" @if(value!=null){value="@value"}/>
                <div class="input-group-addon pointer"><span class="glyphicon glyphicon-lock"></span></div>
              </div>
              }else{
                <input id="@id" name="@name" class="form-control" list="list_type" autofocus="autofocus" type="text" autocomplete="off" @if(value!=null){value="@value"}/>
              }
              <datalist id="list_type">
              @for(t<-listType){
                <option value="@t.getAs[String]("_id")"></option>
              }
              </datalist>
            }
            @if(types.equals("update")) {
              @helper.inputText(form("id"), '_label -> Messages("inventary.module.id"), 'required -> true, 'class -> "form-control",'readonly->"readonly")
              @helper.inputDate(form("dateAssemblage"), '_label -> Messages("inventary.module.dateAssemblage"), 'required -> true, 'class -> "form-control",'readonly->"readonly")
            }else{
              @helper.inputText(form("id"), '_label -> Messages("inventary.module.id"), 'required -> true, 'class -> "form-control")
              @helper.inputDate(form("dateAssemblage"), '_label -> Messages("inventary.module.dateAssemblage"), 'required -> true, 'class -> "form-control")
            }
            @helper.textarea(form("commentaire"),'_label->Messages("inventary.module.commentaire"),'class->"form-control")
          </div>
          <div class="col-sm-12">
            <div style="float:right">
              <input value="@Messages("global.btn.reset")" class="btn btn-default" type="reset"/>
              <input value="@Messages("global.btn.submit")" class="btn btn-default" type="submit"/>
            </div>
          </div>
        }
      </article>
    </section>
  </div>
}