@(modules:List[Module],listType:List[reactivemongo.bson.BSONDocument],filtre:String)(implicit request: Request[AnyContent])

@main(Messages("inventary.module.title")){
  <script src="@routes.Assets.at("/public","javascripts/modal-delete.js")" type="text/javascript" defer></script>
  @navigation("inventary")
  <div class="container">
    @inventary("module")
    <section>
      <article class="col-sm-9">
        @if(modules.size==0){
          <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
        }else {
          @for(mod <- modules) {
            <div class="row" id="@mod._id.stringify">
              <div class="col-sm-12">
                <h4>
                  <a href="@routes.ModuleManager.inventary(mod.types)">@mod.types</a>
                  /
                  <a href="@routes.ModuleManager.moreInformation(mod._id.stringify)">@mod.id</a>
                  <span>
                    <a href="@routes.ModuleManager.formGeneralUpdate(mod._id.stringify)" data-toggle-tooltip title="@Messages("global.tooltip.update")"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-toggle="modal" data-toggle-tooltip href="#modal-delete" title="@Messages("global.tooltip.delete")" data-title="@mod.types / @mod.id" data-link="@routes.ModuleManager.deleteModule(mod._id.stringify)"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                </h4>
              </div>
              <div class="col-sm-11 col-sm-offset-1">
                <div class="row"><span class="bold">@Messages("inventary.module.commentaire")</span> : @mod.commentaire</div>
                <div class="row"><span class="bold">@Messages("inventary.module.dateAssemblage")</span> : @SensorManager.format(mod.dateAssemblage)</div>
                <div class="row"><span class="bold">@Messages("inventary.module.onglet.cards")</span> : @mod.cartes.size</div>
                <div class="row"><span class="bold">@Messages("inventary.module.onglet.sensors")</span> : @mod.capteurs.size</div>
              </div>
            </div>
          }
        }
      </article>
      <nav class="col-sm-3">
        @if(listType.size > 1) {
          <span class="bold">@Messages("inventary.module.types")</span>
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" @if(filtre.isEmpty) {
              class="active"}><a href="@routes.ModuleManager.inventary("")" style="padding:0px 15px !important">
            @Messages("global.all")</a></li>
            @for(types <- listType) {
              @defining(types.getAs[String]("_id").get) { nomType =>
                <li role="presentation" @if(filtre.equals(nomType)) {
                  class="active"}><a href="@routes.ModuleManager.inventary(nomType)" style="padding:0px 15px !important">@nomType</a></li>
              }
            }
          </ul>
        }
        <a href="@routes.ModuleManager.formGeneralAdd()" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          @Messages("inventary.module.addModule")
        </a>
      </nav>
    </section>
  </div>
  @modal("modal-delete"){<span id="title-delete"></span>}{@Messages("inventary.module.confirmDelete")} {
    <a id="accept-delete" href="#" class="btn btn-default">@Messages("global.yes")</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("global.no")</button>
  }
}