#signIn{
    border:1px solid rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
}

form dl{
    margin:0px;
}

.bold{
    font-weight:bold;
}

.pointer{
    cursor:pointer !important;
}

.breadcrumb .active a{
 color:#777
}

.breadcrumb>li+li:before {
    content: ">\00a0";
}

.linkDeleteImg{
    position:absolute;
    top:10px;
    right:10px;
    line-height: normal;
}

@media (max-width: 992px) {
    .img-xs {
        position:relative;
        height:100px;
        line-height:100px;
        width:100px;
        float:left;
        margin:5px;
    }

    .img-xs .linkImg{
        display:block;
        text-align:center;
        max-height:100px;
        max-width:100px;
    }

    .img-xs img{
        max-height:80px;
        display:inline-block;
    }
}
@media (min-width: 992px) {
    .img-md {
        position:relative;
        height:150px;
        line-height:150px;
        width:150px;
        float:left;
        margin:5px;
    }

    .img-md .linkImg{
        display:block;
        text-align:center;
        max-height:150px;
        max-width:150px;
    }

    .img-md img{
        max-height:130px;
        display:inline-block;
    }
}
@media (min-width: 1200px) {
    .img-lg {
        position:relative;
        height:200px;
        line-height:200px;
        width:200px;
        float:left;
        margin:5px;
    }

    .img-lg .linkImg{
        display:block;
        text-align:center;
        max-height:200px;
        max-width:200px;
    }

    .img-lg img{
        max-height:180px;
        display:inline-block;
    }
}

.search_lateral{
    margin-top: 10px;
    margin-bottom: 10px;
}