@(localisations:List[Localisation])(implicit request: Request[AnyContent])

@main(Messages("campaign.localisation.title")){
  @navigation("campaign")
  <div class="container">
    @navCampaign("localisation")
    <section>
      <article class="col-sm-9">
      @if(localisations.size==0){
        <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
      }else {
        @for(loc <- localisations) {
          <div class="row">
            <div class="col-sm-12">
              <h4>
                <a href="@routes.LocalisationManager.moreInformation(loc._id.stringify)">@loc.nom</a>
              </h4>
            </div>
            <div class="col-sm-11 col-sm-offset-1">
              <div class="row"><span class="bold">@Messages("campaign.localisation.commentaire")</span> : @loc.commentaire</div>
              <div class="row"><span class="bold">@Messages("campaign.localisation.lat")</span> : @loc.lat</div>
              <div class="row"><span class="bold">@Messages("campaign.localisation.lon")</span> : @loc.lon</div>
              <div class="row"><span class="bold">@Messages("campaign.localisation.photo")</span> : @loc.photo.size</div>
            </div>
          </div>
        }
      }
      </article>
      <nav class="col-sm-3">
        <a href="@routes.LocalisationManager.addLocalisationPage()" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          @Messages("campaign.localisation.addLocalisation")
        </a>
      </nav>
    </section>
  </div>
}