@(form:Form[SensorForm],types:TypeSensor,espece:List[Espece],typeMesure:List[TypeMesure],routeSubmit:Call)(implicit request: Request[AnyContent])

@import models.template.InlineInput.inlineInput

@main(Messages("inventary.typeSensor.title")){
  @navigation("inventary")
  <div class="container">
    @inventary("capteur")
    <section>
      <article>
        <a href="@routes.SensorManager.inventary(types._id.stringify)"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        <div class="row">
          <div class="col-sm-12">
            <h4>@{types.nomType} / @{types.modele}</h4>
          </div>
          <div class="col-sm-11 col-sm-offset-1">
            <div class="row"> <span class="bold">@Messages("inventary.typeSensor.fabricant")</span> : @{types.fabricant} </div>
            <div class="row"> <span class="bold">@Messages("inventary.typeSensor.nbSignaux")</span> : @{types.nbSignaux} </div>
            <div class="row">
              <span class="bold">@Messages("inventary.typeSensor.espece")</span> :<br/>
              <div class="row col-sm-10 col-sm-offset-1 table-responsive">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>@Messages("inventary.typeSensor.nomEspece")</th>
                      <th>@Messages("inventary.typeSensor.mesure")</th>
                      <th>@Messages("inventary.typeSensor.signalMin")</th>
                      <th>@Messages("inventary.typeSensor.signalMax")</th>
                    </tr>
                  </thead>
                  <tbody>
                  @for(esp <- types.espece) {
                    @defining(espece.find(p => p._id.equals(esp))) {currentEsp=>
                      @if(currentEsp.nonEmpty){
                        @defining(typeMesure.find(p=>p._id.equals(currentEsp.get.mesure))){mesure=>
                          @if(mesure.nonEmpty){
                            <tr>
                              <td>@currentEsp.get.espece</td>
                              <td>@mesure.get.nom</td>
                              <td>@currentEsp.get.min @mesure.get.unite</td>
                              <td>@currentEsp.get.max @mesure.get.unite</td>
                            </tr>
                          }
                        }
                      }
                    }
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        @helper.form(action=routeSubmit){
          @for(error<-form.globalErrors){
            <div class="alert alert-danger" role="alert">@error.message</div>
          }
          <h5 style="color:red;float:right"><em>*</em> @Messages("global.fieldRequired")</h5>
          <div class="col-sm-12">
            @if(routeSubmit.toString().endsWith("/sensor")) {
              @helper.inputText(form("id"), '_label -> Messages("inventary.sensor.id"), 'required -> true, 'class -> "form-control",'autofocus->"autofocus")
              @helper.inputDate(form("acquisition"), '_label -> Messages("inventary.sensor.acquisition"), 'required -> true, 'class -> "form-control")
            }else{
              @helper.inputText(form("id"), '_label -> Messages("inventary.sensor.id"), 'required -> true, 'class -> "form-control",'readonly->"readonly")
              @helper.inputDate(form("acquisition"), '_label -> Messages("inventary.sensor.acquisition"), 'required -> true, 'class -> "form-control",'readonly->"readonly")
            }
            @helper.inputDate(form("expiration"),'_label->Messages("inventary.sensor.expiration"),'class->"form-control")
            @helper.inputDate(form("firstUse"),'_label->Messages("inventary.sensor.firstUse"),'class->"form-control")
            @helper.checkbox(form("hs"),'_label->Messages("inventary.sensor.hs"))
            @helper.textarea(form("commentaire"),'_label->Messages("inventary.sensor.commentaire"),'class->"form-control")
          </div>
          <div class="col-sm-12">
            <div style="float:right">
              <input value="@Messages("global.btn.reset")" class="btn btn-default" type="reset"/>
              <input value="@Messages("global.btn.submit")" class="btn btn-default" type="submit" name="send"/>
              @if(routeSubmit.toString().endsWith("/sensor")){
                <input value="@Messages("global.btn.submitAndContinue")" class="btn btn-default" type="submit" name="send"/>
              }
            </div>
          </div>
        }
      </article>
    </section>
  </div>
}