@(types:TypeSensor,mesure:TypeMesure,listSensor:List[Sensor],totalSensor:Int,stockUsed:List[(reactivemongo.bson.BSONObjectID,Int)],sensorState:Map[reactivemongo.bson.BSONObjectID,String],trie:String,sens:Int,id:String)(implicit request: Request[AnyContent])

@main(Messages("inventary.typeSensor.title")){
  <script src="@routes.Assets.at("/public","javascripts/modal-delete.js")" type="text/javascript" defer></script>
  @navigation("inventary")
  <div class="container">
    @inventary("capteur")
    <section>
      <article class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
              <h4>@{types.nomType} / @{types.modele}</h4>
            </div>
            <div class="col-sm-11 col-sm-offset-1">
              <div class="row"> <span class="bold">@Messages("inventary.typeSensor.fabricant")</span> : @{types.fabricant} </div>
              <div class="row"> <span class="bold">@Messages("inventary.typeSensor.nbSignaux")</span> : @{types.nbSignaux} (@{mesure.nom}) </div>
              <div class="row"> <span class="bold">@Messages("inventary.typeSensor.signalMin")</span> : @types.min @mesure.unite</div>
              <div class="row"> <span class="bold">@Messages("inventary.typeSensor.signalMax")</span> : @types.max @mesure.unite</div>
              <div class="row"> <span class="bold">@Messages("inventary.typeSensor.espece")</span> : @{types.espece.mkString(", ")} </div>
              <div class="row"> <span class="bold">@Messages("inventary.typeSensor.stock")</span> : @{totalSensor - stockUsed.head._2} / @totalSensor </div>
            </div>
        </div>
        @if(listSensor.size>0){
        <div class="row">
          <div class="col-sm-offset-10 col-sm-2">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width: 100%">@Messages("global.sort") <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                @for(col<-List[String]("id","acquisition","expiration","firstUse","etat")){
                  <li>
                    <a href="@routes.SensorManager.inventary(types._id.stringify,col,if(trie.equals(col)){-sens}else{1},id)">
                      @if(trie.equals(col)){<span class="glyphicon glyphicon-ok"></span>}
                      @Messages("inventary.sensor."+col)
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="row table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>@Messages("inventary.sensor.id")</th>
                <th>@Messages("inventary.sensor.acquisition")</th>
                <th>@Messages("inventary.sensor.expiration")</th>
                <th>@Messages("inventary.sensor.firstUse")</th>
                <th>@Messages("inventary.sensor.etat")</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for(sensor<-listSensor){
                <tr>
                  <td>@sensor.id</td>
                  <td>@{SensorManager.format(sensor.acquisition)}</td>
                  <td>@if(sensor.expiration.nonEmpty){@{SensorManager.format(sensor.expiration.get)}}else{-}</td>
                  <td>@if(sensor.firstUse.nonEmpty){@{SensorManager.format(sensor.firstUse.get)}}else{-}</td>
                  <td>@if(sensor.hs){@Messages("inventary.sensor.hs")}@if(sensor.hs && sensorState.getOrElse(sensor._id,"").nonEmpty){<br/>}@sensorState.getOrElse(sensor._id,"")</td>
                  <td>
                    <a href="@routes.SensorManager.sensorClonePage(types._id.stringify,sensor._id.stringify)" data-toggle-tooltip title="@Messages("global.tooltip.clone")"><span class="glyphicon glyphicon-copy"></span></a>
                    <a href="@routes.SensorManager.sensorUpdatePage(types._id.stringify,sensor._id.stringify)" data-toggle-tooltip title="@Messages("global.tooltip.update")"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-toggle="modal" href="#modal-delete" data-toggle-tooltip title="@Messages("global.tooltip.delete")" data-title="@sensor.id" data-link="@routes.SensorManager.delete(types._id.stringify,sensor._id.stringify)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        }else{
          <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
        }
      </article>
      <nav class="col-sm-2">
        <div class="search_lateral">
        @helper.form(action=routes.SensorManager.inventary(types._id.stringify)){
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="search" name="id" class="form-control" value="@id" placeholder="@Messages("inventary.sensor.id")"/>
            <input type="hidden" name="sort" value="@trie"/>
            <input type="hidden" name="sens" value="@sens"/>
          </div>
        }
        </div>
        <a href="@routes.SensorManager.sensorPage(types._id.stringify)" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          @Messages("inventary.sensor.addSensor")
        </a>
      </nav>
    </section>
  </div>
  @modal("modal-delete"){<span id="title-delete"></span>}{@Messages("inventary.sensor.confirmDelete")} {
    <a id="accept-delete" href="#" class="btn btn-default">@Messages("global.yes")</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("global.no")</button>
  }
}