@(filtreSto:String,sort:String,modele:String,funcFiltre:Int=>Boolean,listType:List[TypeSensor],listMesure:List[TypeMesure],stock:List[reactivemongo.bson.BSONDocument],stockUsed:List[(reactivemongo.bson.BSONObjectID,Int)],filtre:List[reactivemongo.bson.BSONDocument])(implicit request: Request[AnyContent])
@import reactivemongo.bson.BSONObjectID

@main(Messages("inventary.typeSensor.title")){
  <script src="@routes.Assets.at("/public","javascripts/modal-delete.js")" type="text/javascript" defer></script>
  @navigation("inventary")
  <div class="container">
    @inventary("capteur")
    <section>
      <article class="col-sm-9">
        <div>
          @if(listType.size==0){
            <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
          }else {
            @for(types <- listType) {
              @defining(stock.filter(p=>p.getAs[BSONObjectID]("_id").get.equals(types._id))){s=>
                @defining(if(s.nonEmpty){
                  s.head.getAs[reactivemongo.bson.BSONInteger]("count").get.value
                }else{
                  0
                }) { sto =>
                    @defining(sto - stockUsed.filter(p=>p._1.equals(types._id)).head._2){stoUnused=>
                      @if(funcFiltre(stoUnused)) {
                        <div class="col-sm-12">
                          <h4><a href="@routes.TypeSensorManager.inventary(types.nomType)">@{
                            types.nomType
                          }</a> / <a href="@routes.SensorManager.inventary(types._id.stringify)">@{
                            types.modele
                          }</a>
                            <span>
                              <a href="@routes.TypeSensorManager.typeUpdatePage(types._id.stringify)" data-toggle-tooltip title="@Messages("global.tooltip.update")"><span class="glyphicon glyphicon-pencil"></span></a>
                              @if(sto == 0) {
                                <a data-toggle="modal" data-toggle-tooltip href="#modal-delete" title="@Messages("global.tooltip.delete")" data-title="@types.nomType / @types.modele" data-link="@routes.TypeSensorManager.delete(types._id.stringify)">
                                  <span class="glyphicon glyphicon-trash"></span>
                                </a>
                              }
                            </span>
                          </h4>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                          <div class="row"> <span class="bold">@Messages("inventary.typeSensor.fabricant")</span> : @{
                            types.fabricant
                          } </div>
                          @defining(listMesure.filter(m => m._id == types.mesure).head) { mesure =>
                            <div class="row"> <span class="bold">@Messages("inventary.typeSensor.nbSignaux")</span> : @{
                              types.nbSignaux
                            } (@{
                              mesure.nom
                            }) </div>
                            <div class="row"><span class="bold">@Messages("inventary.typeSensor.signalMin")</span> : @types.min @mesure.unite</div>
                            <div class="row"><span class="bold">@Messages("inventary.typeSensor.signalMax")</span> : @types.max @mesure.unite</div>
                          }
                          <div class="row"> <span class="bold">@Messages("inventary.typeSensor.espece")</span> : @{
                            types.espece.mkString(", ")
                          } </div>
                          <div class="row"> <span class="bold">@Messages("inventary.typeSensor.stock")</span> : @stoUnused / @sto</div>
                        </div>
                    }
                  }
                }
              }
            }
          }
        </div>
      </article>
      <nav class="col-sm-3">
        @if(filtre.size>1) {
          <span class="bold">@Messages("inventary.typeSensor.type")</span>
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" @if(sort.isEmpty) {
              class="active"}><a href="@routes.TypeSensorManager.inventary("",modele,filtreSto)" style="padding:0px 15px !important">
            @Messages("global.all")</a></li>
            @for(types <- filtre) {
              @defining(types.getAs[String]("_id").get) { nomType =>
                <li role="presentation" @if(sort.equals(nomType)) {
                  class="active"}><a href="@routes.TypeSensorManager.inventary(nomType,modele,filtreSto)" style="padding:0px 15px !important">@nomType</a></li>
              }
            }
          </ul>
        }
        <span class="bold">@Messages("inventary.typeSensor.stock")</span>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" @if(filtreSto.isEmpty){class="active"}><a href="@routes.TypeSensorManager.inventary(sort,modele)" style="padding : 0px 15px !important">@Messages("global.all")</a></li>
          <li role="presentation" @if(filtreSto.equals("yes")){class="active"}><a href="@routes.TypeSensorManager.inventary(sort,modele,"yes")" style="padding : 0px 15px !important">@Messages("global.dispo")</a></li>
          <li role="presentation" @if(filtreSto.equals("no")){class="active"}><a href="@routes.TypeSensorManager.inventary(sort,modele,"no")" style="padding : 0px 15px !important">@Messages("global.used")</a></li>
        </ul>
        <div class="search_lateral">
        @helper.form(action=routes.TypeSensorManager.inventary()){
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="search" name="modele" class="form-control" value="@modele" placeholder="@Messages("inventary.typeSensor.model")"/>
            <input type="hidden" name="types" value="@sort"/>
            <input type="hidden" name="stock" value="@filtreSto"/>
          </div>
        }
        </div>
        <a href="@routes.TypeSensorManager.typePage" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          @Messages("inventary.typeSensor.addType")
        </a>
      </nav>
    </section>
  </div>
  @modal("modal-delete"){<span id="title-delete"></span>}{@Messages("inventary.typeSensor.confirmDelete")} {
    <a id="accept-delete" href="#" class="btn btn-default">@Messages("global.yes")</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("global.no")</button>
  }
}