@(filtreSto:String,sort:String,funcFiltre:Int=>Boolean,listType:List[TypeCards],stock:List[reactivemongo.bson.BSONDocument],stockUsed:List[(reactivemongo.bson.BSONObjectID,Int)],filtre:List[reactivemongo.bson.BSONDocument])(implicit request: Request[AnyContent])

@import reactivemongo.bson.BSONObjectID

@main(Messages("inventary.typeCards.title")){
  <script src="@routes.Assets.at("/public","javascripts/modal-delete.js")" type="text/javascript" defer></script>
  @navigation("inventary")
  <div class="container">
    @inventary("card")
    <section>
      <article class="col-sm-9">
        <div>
        @if(listType.size==0){
          <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
        }else {
          @for(types <- listType) {
            @defining(stock.filter(p=>p.getAs[BSONObjectID]("_id").get.equals(types._id))){s=>
              @defining(if(s.nonEmpty){
                s.head.getAs[reactivemongo.bson.BSONInteger]("count").get.value
              }else{
                0
              }) { sto =>
                @defining(sto - stockUsed.filter(p=>p._1.equals(types._id)).head._2) { stoUnused =>
                  @if(funcFiltre(stoUnused)) {
                    <div class="col-sm-12" id="@types._id.stringify">
                      <h4><a href="@routes.TypeCardsManager.inventary(types.types)">@{
                        types.types
                      }</a> / <a href="@routes.CardsManager.inventary(types._id.stringify)">@{
                        types.modele
                      }</a>
                        <span>
                          <a href="@routes.TypeCardsManager.typeUpdatePage(types._id.stringify)" data-toggle-tooltip title="@Messages("global.tooltip.update")"><span class="glyphicon glyphicon-pencil"></span></a>
                          @if(sto == 0) {
                            <a data-toggle="modal" href="#modal-delete" data-toggle-tooltip title="@Messages("global.tooltip.delete")" data-title="@types.types / @types.modele" data-link="@routes.TypeCardsManager.delete(types._id.stringify)">
                              <span class="glyphicon glyphicon-trash"></span>
                            </a>
                          }
                        </span>
                      </h4>
                    </div>
                    <div class="col-sm-11 col-sm-offset-1">
                      <div class="row"> <span class="bold">@Messages("inventary.typeCards.stock")</span> : @stoUnused / @sto</div>
                    </div>
                  }
                }
              }
            }
          }
        }
        </div>
      </article>
      <nav class="col-sm-3">
        @if(filtre.size>1) {
          <span class="bold">@Messages("inventary.typeCards.types")</span>
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" @if(sort.isEmpty) {
              class="active"}><a href="@routes.TypeCardsManager.inventary("",filtreSto)" style="padding:0px 15px !important">
            @Messages("global.all")</a></li>
            @for(types <- filtre) {
              @defining(types.getAs[String]("_id").get) { nomType =>
                <li role="presentation" @if(sort.equals(nomType)) {
                  class="active"}><a href="@routes.TypeCardsManager.inventary(nomType,filtreSto)" style="padding:0px 15px !important">@nomType</a></li>
              }
            }
          </ul>
        }
        <span class="bold">@Messages("inventary.typeSensor.stock")</span>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" @if(filtreSto.isEmpty){class="active"}><a href="@routes.TypeCardsManager.inventary(sort)" style="padding : 0px 15px !important">@Messages("global.all")</a></li>
          <li role="presentation" @if(filtreSto.equals("yes")){class="active"}><a href="@routes.TypeCardsManager.inventary(sort,"yes")" style="padding : 0px 15px !important">@Messages("global.dispo")</a></li>
          <li role="presentation" @if(filtreSto.equals("no")){class="active"}><a href="@routes.TypeCardsManager.inventary(sort,"no")" style="padding : 0px 15px !important">@Messages("global.used")</a></li>
        </ul>
        <a href="@routes.TypeCardsManager.typePage" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> @Messages("inventary.typeCards.addType")</a>
      </nav>
    </section>
  </div>
  @modal("modal-delete"){<span id="title-delete"></span>}{@Messages("inventary.typeCards.confirmDelete")} {
    <a id="accept-delete" href="#" class="btn btn-default">@Messages("global.yes")</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("global.no")</button>
  }
}