@(types:TypeCards,listCards:List[Cards],listFirmware:List[Firmware],trie:String,sens:Int)

@main(Messages("inventary.typeCards.title")){
  <script src="@routes.Assets.at("javascripts/modal-delete.js")" type="text/javascript" defer></script>
  @navigation("inventary")
  <div class="container">
    @inventary("card")
    <section>
      <article class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h4>@{types.types} / @{types.modele}</h4>
          </div>
          <div class="col-sm-11 col-sm-offset-1">
            <div class="row"> <span class="bold">@Messages("inventary.typeCards.stock")</span> : @listCards.size </div>
          </div>
        </div>
        @if(listCards.size>0){
          <div class="row">
            <div class="col-sm-offset-10 col-sm-2">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width: 100%">@Messages("global.sort") <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                @for(col<-List[String]("id","acquisition","firstUse","agregateur","apolline","etat")){
                  <li>
                    <a href="@routes.CardsManager.inventary(types._id.stringify,col,if(trie.equals(col)){-sens}else{1})">
                      @if(trie.equals(col)){<span class="glyphicon glyphicon-ok"></span>}
                      @Messages("inventary.card."+col)
                    </a>
                  </li>
                }
                </ul>
              </div>
            </div>
          </div>
          <div class="row table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>@Messages("inventary.card.id")</th>
                  <th>@Messages("inventary.card.acquisition")</th>
                  <th>@Messages("inventary.card.firstUse")</th>
                  <th>@Messages("inventary.card.firmware")</th>
                  <th>@Messages("inventary.card.agregateur")</th>
                  <th>@Messages("inventary.card.apolline")</th>
                  <th>@Messages("inventary.card.etat")</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              @for(mod<-listCards){
                <tr>
                  <td>@mod.id</td>
                  <td>@{SensorManager.format(mod.acquisition)}</td>
                  <td>@if(mod.firstUse.nonEmpty){@{SensorManager.format(mod.firstUse.get)}}else{-}</td>
                  <td>@defining(listFirmware.filter(firm=>firm._id.equals(mod.firmware))){firm=>@firm.head.nom (@firm.head.version)}</td>
                  <td>@if(mod.agregateur){ @Messages("global.yes") }else{ @Messages("global.no") }</td>
                  <td>@mod.apolline.getOrElse("-")</td>
                  <td>@if(mod.hs){@Messages("inventary.card.hs")}</td>
                  <td>
                    <a href="@routes.CardsManager.cardClonePage(types._id.stringify,mod._id.stringify)"><span class="glyphicon glyphicon-copy"></span></a>
                    <a href="@routes.CardsManager.cardUpdatePage(types._id.stringify,mod._id.stringify)"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-toggle="modal" href="#modal-delete" data-title="@mod.id" data-link="@routes.CardsManager.delete(types._id.stringify,mod._id.stringify)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        }else{
          <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
        }
      </article>
      <nav class="col-sm-2">
        <a href="@routes.CardsManager.cardPage(types._id.stringify)" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          @Messages("inventary.card.addCards")
        </a>
      </nav>
    </section>
  </div>
  @modal("modal-delete"){<span id="title-delete"></span>}{@Messages("inventary.card.confirmDelete")} {
    <a id="accept-delete" href="#" class="btn btn-default">@Messages("global.yes")</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("global.no")</button>
  }
}