@(mod:Module,config:ConfigurationForm,typeSensors:List[TypeSensor],sensors:List[Sensor],espece:List[Espece],infoMesure:List[(reactivemongo.bson.BSONObjectID,InfoMesureForm)],errors:List[String])(implicit request: Request[AnyContent])

@import reactivemongo.bson.BSONObjectID

@main(Messages("inventary.module.title")){
  @navigation("inventary")
  <div class="container">
    @inventary("module")
    <section>
      <article>
        <div class="col-sm-12">
          <h4>@mod.types / @mod.id</h4>
        </div>
        <div class="col-sm-11 col-sm-offset-1">
          <div class="row"><span class="bold">@Messages("inventary.module.commentaire")</span> : @mod.commentaire</div>
          <div class="row"><span class="bold">@Messages("inventary.module.dateAssemblage")</span> : @SensorManager.format(mod.dateAssemblage)</div>
        </div>
        @configuration.stateForm("validate",mod._id.stringify)
        <div class="col-sm-12">
          @for(error<-errors){
            <div class="alert alert-danger" role="alert">@error</div>
          }
          <div class="row"> <span class="bold">@Messages("inventary.configuration.port")</span> : @config.port</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.timeout")</span> : @config.timeout</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.baud")</span> : @config.baud</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.bits")</span> : @config.bits</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.parity")</span> : @config.parity</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.stopBits")</span> : @config.stopBits</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.timeFilter")</span> : @config.timeFilter</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.types")</span> : @config.types</div>
          <div class="row"> <span class="bold">@Messages("inventary.configuration.numberOfValue")</span> : @config.numberOfValue</div>
          <div class="row table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>@Messages("inventary.configuration.index")</th>
                  <th>@Messages("inventary.configuration.sensor")</th>
                  <th>@Messages("inventary.configuration.specie")</th>
                </tr>
              </thead>
              <tbody>
                @for(info<-infoMesure){
                  <tr>
                    <td>@info._2.index</td>
                    <td>@defining(sensors.find(p=>p._id.equals(info._1)).get){sensor=>
                      @defining(typeSensors.find(p=>p._id.equals(sensor.types)).get){types=>
                        <a href="@routes.SensorManager.inventary(types._id.stringify)#@info._1.stringify"><span class="bold">@types.nomType / @types.modele</span><br/>@sensor.id</a>
                      }
                    }</td>
                    <td>@defining(espece.find(p=>p._id.equals(BSONObjectID(info._2.espece))).get){esp=>
                      @esp.espece
                    }</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <form method="POST">
          <input type="submit" value="@Messages("global.btn.submit")" class="btn btn-default"/>
        </form>
      </article>
    </section>
  </div>
}