@(actif:String)(implicit request: Request[AnyContent])

@import play.api.libs.json.Json

@active(value:String)={
    @if(actif.equals(value)){
        active
    }
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
            <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#">@{Messages("global.sitename")}</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@active("dashboard")"><a href="@routes.Dashboard.index()">@{Messages("global.dashboard")}</a></li>
                <li class="dropdown @active("inventaire")">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@{Messages("global.sensors")} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@routes.TypeCardsManager.inventary()">@Messages("inventary.onglet.cards")</a></li>
                        <li><a href="@routes.TypeSensorManager.inventary()">@Messages("inventary.onglet.sensor")</a></li>
                        <li><a href="@routes.ModuleManager.inventary()">@Messages("inventary.onglet.module")</a></li>
                    </ul>
                </li>
                <li class="dropdown @active("campaign")">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@{Messages("global.campaign")} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@routes.CampagneManager.listCampaign()">@{Messages("campaign.onglet.campaign")}</a></li>
                        <li><a href="@routes.ParametreManager.listParameter()">@{Messages("campaign.onglet.param")}</a></li>
                        <li><a href="@routes.LocalisationManager.listLocalisation()">@{Messages("campaign.onglet.localisation")}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @defining(Json.parse(request.session.get("user").getOrElse("{}"))){ user =>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@{(user\"login").as[String]} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.UserManager.disconnect">@Messages("global.disconnect")</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>