@(parameters:List[Parametres],state:Html)(implicit request: Request[AnyContent])

@import models.template.InlineInput.inlineInput

@main(Messages("campaign.list.title")){
  @navigation("campaign")
  <div class="container">
    @navCampaign("campaign")
    <section>
      @state
      <article class="col-sm-9">
      @if(parameters.size==0){
        <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
      }else {
        <div class="row table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>@Messages("campaign.param.key")</th>
                <th>@Messages("campaign.param.value")</th>
              </tr>
            </thead>
            <tbody>
            @for(param<-parameters){
              <tr>
                <td></td>
                <td>@param.cle</td>
                <td>@param.valeur</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      }
      </article>
    </section>
  </div>
}