@(modules:List[Module],listType:List[reactivemongo.bson.BSONDocument],filtre:String,id:String,state:Html)(implicit request: Request[AnyContent])

@import models.template.InlineInput.inlineInput

@main(Messages("campaign.list.title")){
  @navigation("campaign")
  <div class="container">
    <section>
      @state
      <article class="col-sm-9">
      @if(modules.size==0){
        <h3 style="text-align:center">@Messages("global.error.noResult")</h3>
      }else {
        @for(mod <- modules) {
          <div class="row">
            <div class="col-sm-12">
              <h4>
                <a href="@routes.ConditionsManager.formModule(id,mod.types)">@mod.types</a>
                /
                <a href="@routes.ModuleManager.moreInformation(mod._id.stringify)">@mod.id</a>
              </h4>
            </div>
            <div class="col-sm-11 col-sm-offset-1">
              <div class="row"><span class="bold">@Messages("inventary.module.commentaire")</span> : @mod.commentaire</div>
              <div class="row"><span class="bold">@Messages("inventary.module.dateAssemblage")</span> : @SensorManager.format(mod.dateAssemblage)</div>
              <div class="row"><span class="bold">@Messages("inventary.module.onglet.cards")</span> : @mod.cartes.size</div>
              <div class="row"><span class="bold">@Messages("inventary.module.onglet.sensors")</span> : @mod.capteurs.size</div>
              <div class="row"><a href="" class="btn btn-success">@Messages("campaign.condition.associat")</a></div>
            </div>
          </div>
        }
      }
      </article>
      <nav class="col-sm-3">
        @if(listType.size > 1) {
          <span class="bold">@Messages("inventary.module.types")</span>
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" @if(filtre.isEmpty) {
              class="active"}><a href="@routes.ConditionsManager.formModule(id,"")" style="padding:0px 15px !important">
            @Messages("global.all")</a></li>
            @for(types <- listType) {
              @defining(types.getAs[String]("_id").get) { nomType =>
                <li role="presentation" @if(filtre.equals(nomType)) {
                  class="active"}><a href="@routes.ConditionsManager.formModule(id,nomType)" style="padding:0px 15px !important">@nomType</a></li>
              }
            }
          </ul>
        }
      </nav>
    </section>
  </div>
}