@(mod:Module)

@mod.types / <a href="@routes.ModuleManager.moreInformation(mod._id.stringify)">@mod.id</a>
<div class="col-sm-11 col-sm-offset-1" style="font-size:small">
  <div class="row"><span class="bold">@Messages("inventary.module.commentaire")</span> : @mod.commentaire</div>
  <div class="row"><span class="bold">@Messages("inventary.module.dateAssemblage")</span> : @SensorManager.format(mod.dateAssemblage)</div>
  <div class="row"><span class="bold">@Messages("inventary.module.onglet.cards")</span> : @mod.cartes.size</div>
  <div class="row"><span class="bold">@Messages("inventary.module.onglet.sensors")</span> : @mod.capteurs.size</div>
</div>