@(cond:Condition,loc:Option[Localisation],module:Option[Module],error:String,state:Html)(implicit request: Request[AnyContent])

@import java.text.SimpleDateFormat

@main(Messages("campaign.list.title")){
  @navigation("campaign")
  <div class="container">
    <section>
      @state
      <article class="col-sm-12">
        @if(error.nonEmpty) {
          <div class="alert alert-danger" role="alert">@Html(error)</div>
        }
        <div class="row"><span class="bold">@Messages("campaign.condition.debut")</span> : @{new SimpleDateFormat("dd/MM/yyyy HH:mm:ss").format(cond.dateDebut)}</div>
        <div class="row"><span class="bold">@Messages("campaign.condition.fin")</span> : @if(cond.dateFin.nonEmpty){@{new SimpleDateFormat("dd/MM/yyyy HH:mm:ss").format(cond.dateFin.get)}}</div>
        <div class="row"><span class="bold">@Messages("campaign.condition.commentaire")</span> : @cond.commentaire</div>
        <div class="row"><span class="bold">@Messages("campaign.condition.onglet.module")</span> : @if(module.nonEmpty){ @campaign.validateModule(module.get) }</div>
        @if(loc.nonEmpty){
          <div class="row"><span class="bold">@Messages("campaign.condition.onglet.localisation")</span> : @loc.get.nom
            <div class="col-sm-11 col-sm-offset-1" style="font-size:small">
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.lat")</span> : @loc.get.lat</div>
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.lon")</span> : @loc.get.lon</div>
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.commentaire")</span> : @loc.get.commentaire</div>
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.photo")</span> :
                <div class="row">
                  @for(photo<-loc.get.photo){
                    <div class="img-xs img-md img-lg img-thumbnail">
                      <a href="@routes.Assets.at("/public","images/campaign/tmp/"+photo)">
                        <img src="@routes.Assets.at("/public","images/campaign/tmp/"+photo)" class="img-responsive">
                      </a>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </article>
    </section>
  </div>
}