@(cond:Condition,loc:Option[Localisation],module:Option[Module],error:String,campaigns:Campagne,path:String,tempFileBuilder:TemporaryFileBuilder,state:Html)(implicit request: Request[AnyContent])

@import java.text.SimpleDateFormat
@import java.io.File
@import play.api.libs.json.Json

@deleteLink(path:String,fileName:String)={@{tempFileBuilder.createFile(path + "/public/images/campaign/tmp/" + fileName).exists() match {
      case true => routes.ConditionsManager.removeImageCondition(campaigns._id.stringify,"",fileName)
      case false =>routes.ConditionsManager.removeImageCondition(campaigns._id.stringify,(Json.parse(request.session.get("condition").get)\"id").as[String],fileName)
}}}

@imgUrl(path:String,fileName:String)={@{tempFileBuilder.createFile(path + "/public/images/campaign/tmp/" + fileName).exists() match {
      case true => routes.Assets.at("/public", "images/campaign/tmp/" + fileName)
      case false =>routes.Assets.at("/public", "images/campaign/" + fileName)
}}}

@main(Messages("campaign.list.title")){
  @navigation("campaign")
  <div class="container">
    <section>
      <a href="@routes.ConditionsManager.listConditions(campaigns._id.stringify)"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
      <div class="col-sm-12">
        <h4>@campaigns.nom</h4>
        <div class="col-sm-11 col-sm-offset-1">
          <div class="row"><span class="bold">@Messages("campaign.list.type")</span> : @campaigns.types</div>
        </div>
      </div>
      @state
      <article class="col-sm-12">
        @if(error.nonEmpty) {
          <div class="alert alert-danger" role="alert">@Html(error)</div>
        }
        <div class="row"><span class="bold">@Messages("campaign.condition.debut")</span> : @{new SimpleDateFormat("dd/MM/yyyy HH:mm:ss").format(cond.dateDebut)}</div>
        <div class="row"><span class="bold">@Messages("campaign.condition.fin")</span> : @if(cond.dateFin.nonEmpty){@{new SimpleDateFormat("dd/MM/yyyy HH:mm:ss").format(cond.dateFin.get)}}</div>
        <div class="row"><span class="bold">@Messages("campaign.condition.commentaire")</span> : @cond.commentaire</div>
        <div class="row"><span class="bold">@Messages("campaign.condition.onglet.module")</span> : @if(module.nonEmpty){ @campaign.validateModule(module.get) }</div>
        @if(loc.nonEmpty){
          <div class="row"><span class="bold">@Messages("campaign.condition.onglet.localisation")</span> : @loc.get.nom
            <div class="col-sm-11 col-sm-offset-1" style="font-size:small">
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.lat")</span> : @loc.get.lat</div>
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.lon")</span> : @loc.get.lon</div>
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.commentaire")</span> : @loc.get.commentaire</div>
              <div class="row"><span class="bold">@Messages("campaign.condition.localisation.photo")</span> :
                <div class="row">
                  @for(photo<-loc.get.photo){
                    <div class="img-xs img-md img-lg img-thumbnail">
                      <a class="linkImg" href="@imgUrl(path,photo)">
                        <img src="@imgUrl(path,photo)" class="img-responsive">
                      </a>
                      <a class="linkDeleteImg" href="@deleteLink(path,photo)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        }
        @helper.form(action=routes.ConditionsManager.validate(campaigns._id.stringify)){
          <p><span style="float:right"><input type="submit" class="btn btn-default" value="@Messages("global.valider")"/></span></p>
        }
      </article>
    </section>
  </div>
}